# The MySQL configuration file.

[client]
socket      = /var/run/mysqld/mysqld.sock

[mysqld_safe]
pid-file    = /var/run/mysqld/mysqld.pid
socket      = /var/run/mysqld/mysqld.sock
nice        = 0

[mysqld]
user        = mysql
pid-file    = /var/run/mysqld/mysqld.pid
socket      = /var/run/mysqld/mysqld.sock
basedir     = /usr
datadir     = /var/lib/mysql
tmpdir      = /tmp
lc-messages-dir = /usr/share/mysql
explicit_defaults_for_timestamp
default-time-zone='+03:00'

# Instead of skip-networking the default is now to listen only on
max_allowed_packet = 128M
max_connections    = 5
query_cache_size   = 8K
query_cache_limit  = 8K
thread_cache_size  = 8K
thread_stack       = 8K
host_cache_size    = 8K

# innodb:
innodb_file_per_table      = 1
innodb_use_native_aio      = 0
innodb_sort_buffer_size    = 64K

# innodb to min:
innodb_buffer_pool_size    = 5M
innodb_log_buffer_size     = 1M
innodb_ft_cache_size       = 1M
innodb_ft_total_cache_size = 20M


# buffer sizes
key_buffer_size            = 1K
net_buffer_length          = 1K
sort_buffer_size           = 8K
read_buffer_size           = 8K
read_rnd_buffer_size       = 8K
bulk_insert_buffer_size    = 8K
join_buffer_size           = 8K
max_heap_table_size        = 8K
tmp_table_size             = 8K

#binary log (if enabled)
binlog_cache_size          = 4K
binlog_stmt_cache_size     = 4K

#largest impact (50% memory)
performance_schema         = off
