# The MySQL configuration file.

[client]
port        = 3306
socket      = /var/run/mysqld/mysqld.sock

[mysqld_safe]
pid-file    = /var/run/mysqld/mysqld.pid
socket      = /var/run/mysqld/mysqld.sock
nice        = 0

[mysqld]
user        = mysql
pid-file    = /var/run/mysqld/mysqld.pid
socket      = /var/run/mysqld/mysqld.sock
port        = 3306
basedir     = /usr
datadir     = /var/lib/mysql
tmpdir      = /tmp
lc-messages-dir = /usr/share/mysql
explicit_defaults_for_timestamp
default-time-zone='+03:00'

lc-messages-dir	= /usr/share/mysql

skip-external-locking
low-priority-updates
skip-name-resolve = 1

#common	
max_allowed_packet = 256M
max_connections    = 150
query_cache_type   = 1
query_cache_size   = 0
query_cache_limit  = 1M
thread_cache_size  = 8K
thread_stack       = 8K
host_cache_size    = 8K
open_files_limit   = 8K

#innodb:
innodb_file_per_table = 1
innodb_use_native_aio = 0

#innodb to MIN:
innodb_sort_buffer_size    = 8K
innodb_ft_cache_size       = 8K
innodb_ft_total_cache_size = 8K
table_open_cache           = 8K
innodb_open_files          = 8K

#innodb to MAX:
innodb_buffer_pool_size  = 512M
innodb_log_file_size     =  32M
innodb_log_buffer_size   =  32M
innodb_read_io_threads   = 8
innodb_write_io_threads  = 8
innodb_stats_on_metadata = 0
innodb_buffer_pool_instances    = 8

#buffer sizes
key_buffer_size          = 256M
sort_buffer_size         = 8K
net_buffer_length        = 8K
read_buffer_size         = 1M
read_rnd_buffer_size     = 8K
bulk_insert_buffer_size  = 8K
join_buffer_size         = 64M
max_heap_table_size      = 128M
tmp_table_size           = 128M
                         
#binary log (if enabled) 
binlog_cache_size        = 4K
binlog_stmt_cache_size   = 4K
max_binlog_size          = 5M
expire_logs_days         = 7
                         
#largest impact          
performance_schema       = off
