[client]
socket = /var/run/mysqld/mysqld.sock

[mysqld_safe]
pid-file = /var/run/mysqld/mysqld.pid
socket = /var/run/mysqld/mysqld.sock
nice = 0

[mysqld]
user = mysql
pid-file = /var/run/mysqld/mysqld.pid
socket = /var/run/mysqld/mysqld.sock
basedir = /usr
datadir = /var/lib/mysql
tmpdir = /tmp
lc-messages-dir = /usr/share/mysql
default-time-zone = '+03:00'

# Medium corporate profile.
max_allowed_packet = 256M
max_connections = 25
thread_cache_size = 32
thread_stack = 512K
host_cache_size = 256
query_cache_type = 0
query_cache_size = 0
query_cache_limit = 0
open_files_limit = 8192
table_open_cache = 2048
table_definition_cache = 1024
innodb_open_files = 2048
innodb_use_native_aio = 0
innodb_buffer_pool_size = 64M
innodb_log_file_size = 64M
innodb_log_buffer_size = 16M
innodb_read_io_threads = 2
innodb_write_io_threads = 2
innodb_stats_on_metadata = 0
innodb_sort_buffer_size = 1M
innodb_ft_cache_size = 1600000
innodb_ft_total_cache_size = 32000000
key_buffer_size = 16M
sort_buffer_size = 1M
join_buffer_size = 1M
read_buffer_size = 256K
read_rnd_buffer_size = 256K
net_buffer_length = 16K
bulk_insert_buffer_size = 1M
max_heap_table_size = 16M
tmp_table_size = 16M
binlog_cache_size = 4K
binlog_stmt_cache_size = 4K
max_binlog_size = 64M
expire_logs_days = 7
performance_schema = off
